<!DOCTYPE html>
<html lang="en">
<head>
<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', '{{ site.google_analytics }}');
</script>
<script src="https://kit.fontawesome.com/672af958e4.js" crossorigin="anonymous"></script>
<meta charset="UTF-8">
{% seo %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
<link rel="icon" href="{{ site.url }}{{ site.baseurl }}/assets/logo/favicon-32.png" sizes="32x32">
<link rel="icon" href="{{ site.url }}{{ site.baseurl }}/assets/logo/favicon-96.png" sizes="96x96">
<link rel="apple-touch-icon" href="{{ site.url }}{{ site.baseurl }}/assets/logo/favicon-180.png" sizes="180x180">
<link rel="shortcut icon" sizes="196x196" href="{{ site.url }}{{ site.baseurl }}/assets/logo/favicon-196.png">
</head>
<body>
<header class="page-header" role="banner">
<h1 class="over-logging"><a href="{{ site.url }}{{ site.baseurl }}/"><img class="logo" src="{{ site.url }}{{ site.baseurl}}/assets/logo/over-logging.svg">Over Logging</a></h1>
{% if page.title %}
<h1 class="project-name">{{ page.title }}</h1>
{% endif %}
<p class="project-date">{{ page.date | date: "%Y / %m" }}</p>
</header>
<main id="content" class="main-content" role="main">
{{ content }}
<footer class="site-footer">
<p class="site-footer-credits">
<a href="https://github.com/ushtipak/"><i class="fab fa-github fa-2x" aria-label:github></i></a>
<a href="mailto:ushtipak@gmail.com"><i class="far fa-envelope fa-2x" aria-label:mail></i></a>
<a href="https://twitter.com/u_s_h_t_i_p_a_k"><i class="fab fa-twitter fa-2x" aria-label:twitter></i></a>
</p>
</footer>
</main>
</body>
</html>
